In [7]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('input/wind/processed_sfo_santacruz_20_years.csv')

In [11]:
def round_to_nearest_45(n):
    return round(n / 45) * 45

def convert_to_int(n):
    return int(n)

In [12]:
df['datetime'] = pd.to_datetime(df['datetime'])
df['hour'] = df['datetime'].dt.hour
# Impute missing values in 'winddir'
df['winddir'] = df['winddir'].fillna(df['winddir'].mean())


def calculate_hourly_percentiles(data, percentile):
    # Create an empty DataFrame to store percentile values for each hour
    percentile_values = []

    # Loop over each hour
    for hour in range(24):
        # Filter data for the specific hour
        hourly_data = data[data['hour'] == hour]

        # Calculate the Xth percentile for wind speed and wind direction
        wind_speed_percentile = np.percentile(hourly_data['windspeed'], percentile)
        wind_dir_percentile = np.percentile(hourly_data['winddir'], percentile)

        # Append the results to the list
        percentile_values.append({'hour': hour, 'windspeed': wind_speed_percentile, 'winddir': wind_dir_percentile})

    # Convert list to DataFrame
    df = pd.DataFrame(percentile_values)
    df['windspeed'] = df['windspeed'].fillna(0)
    df['winddir'] = df['winddir'].fillna(0)
    df['winddir'] = df['winddir'].apply(round_to_nearest_45)
    df['windspeed'] = df['windspeed'].apply(convert_to_int)     
    return df

# hourly_percentiles = calculate_hourly_percentiles(df, 99)
# hourly_percentiles

In [14]:
import sqlite3
# Correcting the query with the right column names
query_final = '''
SELECT flight_distance, flight_time, energy_consumption, wind_direction_degrees, wind_magnitude_mph
FROM flight_metrics
'''

conn = sqlite3.connect('input/wind/icrat.sqlite')

# Read the data into a DataFrame with the final query
try:
    df_flight_metrics = pd.read_sql_query(query_final, conn)
    message_final = "Data loaded successfully from the SQLite database."
except Exception as e:
    df_flight_metrics = None
    message_final = str(e)

df_flight_metrics.sort_values(by=['flight_distance', 
                                  'wind_magnitude_mph', 
                                  'wind_direction_degrees'], ascending=True, inplace=True)
df_flight_metrics.reset_index(drop=True, inplace=True)
df_flight_metrics = df_flight_metrics.groupby(['flight_distance', 
                                               'wind_direction_degrees', 
                                               'wind_magnitude_mph']).mean().reset_index()

df_flight_metrics

,flight_distance,wind_direction_degrees,wind_magnitude_mph,flight_time,energy_consumption
0,20,0,0,10.096742,21.779902
1,20,0,1,10.075754,21.746685
2,20,0,2,10.054998,21.715017
3,20,0,3,10.034471,21.684900
4,20,0,4,10.014169,21.656342
...,...,...,...,...,...
1714,60,360,36,20.382043,40.054396
1715,60,360,37,20.316793,40.001717
1716,60,360,38,20.252147,39.952310
1717,60,360,39,20.188095,39.906229
1718,60,360,40,20.124630,39.863534

In [15]:
from scipy.spatial.distance import cdist

def match_and_add_flight_metrics(percentile_df, flight_metrics_df):
    results_list = []
    for _, row in percentile_df.iterrows():
        windspeed = row['windspeed']
        winddir = row['winddir']
        distances = cdist([[windspeed, winddir]], flight_metrics_df[['wind_magnitude_mph', 'wind_direction_degrees']].values)
        min_distance_index = distances.argmin()
        closest_match = flight_metrics_df.iloc[min_distance_index][['flight_distance', 'flight_time', 'energy_consumption']]
        results_list.append(closest_match)
    results_df = pd.DataFrame(results_list).reset_index(drop=True)
    results_df['flight_direction'] = 'A-B'

    return pd.concat([percentile_df, results_df], axis=1)

def process_and_match_for_B_A(percentile_df, flight_metrics_df):
    # Adjust the wind direction for 'B-A'
    percentile_df['winddir'] = abs(percentile_df['winddir'] - 180)

    # Use the existing function to match and add flight metrics
    return match_and_add_flight_metrics(percentile_df, flight_metrics_df)


# Specified Percentiles
percentiles = [50, 60, 70, 80, 90, 95, 99, 99.5]

all_results = []  # List to store all result DataFrames

for flight_distance, group_df in df_flight_metrics.groupby('flight_distance'):
    for p in percentiles:
        percentile_df = calculate_hourly_percentiles(df, p)

        # Process for A-B Direction
        ab_results = match_and_add_flight_metrics(percentile_df, group_df)
        ab_results['flight_direction'] = 'A-B'
        ab_results['percentile'] = p
        ab_results['flight_distance'] = flight_distance

        # Process for B-A Direction
        ba_results = process_and_match_for_B_A(percentile_df.copy(), group_df)
        ba_results['flight_direction'] = 'B-A'
        ba_results['percentile'] = p
        ba_results['flight_distance'] = flight_distance

        # Combine A-B and B-A results
        combined_results = pd.concat([ab_results, ba_results])
        all_results.append(combined_results)

# Combine all results into a single DataFrame
final_results_df = pd.concat(all_results).reset_index(drop=True)

# Starting Albert's Code

In [18]:
ab = final_results_df[final_results_df['flight_direction'] == 'A-B']
ba = final_results_df[final_results_df['flight_direction'] == 'B-A']

In [19]:
percentile_id = ab['percentile'].to_numpy().reshape(40, 24)[:,0]
distance_id = ab['flight_distance'].to_numpy().reshape(40, 24)[:,0]

ab_flight_time = ab['flight_time'].to_numpy().reshape(40, 24)
ba_flight_time = ba['flight_time'].to_numpy().reshape(40, 24)

ab_energy_consumption = ab['energy_consumption'].to_numpy().reshape(40, 24)
ba_energy_consumption = ba['energy_consumption'].to_numpy().reshape(40, 24)

In [25]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     display(ab[ab['flight_distance'] == 20])  # Display the DataFrame in the Jupyter Notebook cell

In [35]:
params = {}

for i in range(len(ab_flight_time)):
    flight_time = np.zeros((289, 2, 2))
    flight_time[1:289,0,1] = np.repeat(ab_flight_time[i,:],12)
    flight_time[1:289,1,0] = np.repeat(ba_flight_time[i,:],12)

    energy_consumption = np.zeros((289, 2, 2))
    energy_consumption[1:289,0,1] = np.repeat(ab_energy_consumption[i,:],12)
    energy_consumption[1:289,1,0] = np.repeat(ba_energy_consumption[i,:],12)

    run_id = f"dist_{int(distance_id[i])}_per_{int(percentile_id[i]*10)}"
    if run_id not in params:
        params[run_id] = {}
    params[run_id]['flight_time'] = flight_time
    params[run_id]['energy_consumption'] = energy_consumption

In [81]:
# import pickle
# with open('../input/wind/wind_params.pkl', 'wb') as f:
#     pickle.dump(params, f)

In [82]:
valid_runs = []
for i in range(20, 70, 10):
    for j in [500, 600, 700, 800, 900, 950, 990, 995]:
        if i not in distance and j not in percentile:
            valid_runs.append((f'dist_{i}_per_{j}', params))

In [85]:
import os

In [4]:
file_list = os.listdir('../output/ICRAT_wind/fleet_op_result')
all_files = []
for filename in file_list:
    if filename.endswith('_fleetsize.txt'):
        all_files.append(filename)
file_names = np.empty(shape=(len(all_files), 2))
for i in all_files:
    file_names = np.vstack((file_names, np.array(i.split('_')[:2])))

# Get Wind Results

In [1]:
import os 
import pandas as pd
import numpy as np
import sqlite3
from model.op import FleetSizeOptimizer
import pickle

In [2]:
with open('input/wind/wind_params.pkl', 'rb') as f:
    params = pickle.load(f)

In [3]:
file_list = os.listdir('output/ICRAT_wind/fleet_op_result')
all_files = []
for filename in file_list:
    if filename.endswith('_op_result.txt'):
        all_files.append(filename)
file_names = np.empty(shape=(0, 4))
for i in all_files:
    file_names = np.vstack((file_names, np.array(i.split('_')[:4])))

In [4]:
conn = sqlite3.connect('wind_variation_result.sqlite')
for i in range(len(all_files)):
    # Load parameters
    run_id = all_files[i].split('_op_result.txt')[0]
    flight_time = params[run_id]['flight_time']
    energy_consumption = params[run_id]['energy_consumption']
    flight_distance = np.array([[0, file_names[i][1]], [file_names[i][1], 0]]).astype(int)

    # Call optimizer class and redner summary
    optimizer = FleetSizeOptimizer(flight_time, energy_consumption, schedule='ICRAT_wind/schedule_1500pax_5min_0125.csv')
    result_path = f'ICRAT_wind/fleet_op_result/{all_files[i]}'
    optimizer.parse_result(result_path)
    optimizer.calculate_aircraft_states()
    summary = optimizer.get_summary_statistics(flight_distance, return_summary=True)

    # Save summary statistics
    line_i = np.array([summary['fleet_size'], summary['pads'][0], summary['pads'][1], summary['number_of_repositioning_flights']])
    summary_statistics = pd.DataFrame(line_i.reshape(1,4), columns=['fleet_size', 'pads_at_SFO', 'pads_at_SJC', 'number_of_repositioning_flights'])
    summary_statistics['id'] = run_id
    summary_statistics.to_sql('op_summary_statistics', conn, if_exists='append', index=False)

    # Save vertisim inputs
    vertisim_input = pd.concat([optimizer.specificc, optimizer.specificn, optimizer.specificu])
    vertisim_input.reset_index(drop=True, inplace=True)
    vertisim_input['id'] = run_id
    vertisim_input.to_sql('vertisim_input', conn, if_exists='append', index=False)

Fleet size: 39.0
Total number of pads: 49; [18 31]
Total number of flights: 994.0; demand: 854.0; repositioning: 140.0
Total energy consumption: 15926.0 kWh
Total aircraft miles: 49700.0 mi
Total revenue aircraft miles: 42700.0
Ratio of revenue aircraft miles to aircraft miles: 0.8591549295774648
Fleet size: 21.0
Total number of pads: 31; [12 19]
Total number of flights: 970.0; demand: 854.0; repositioning: 116.0
Total energy consumption: 8730.0 kWh
Total aircraft miles: 19400.0 mi
Total revenue aircraft miles: 17080.0
Ratio of revenue aircraft miles to aircraft miles: 0.8804123711340206
Fleet size: 32.0
Total number of pads: 40; [13 27]
Total number of flights: 978.0; demand: 854.0; repositioning: 124.0
Total energy consumption: 13692.0 kWh
Total aircraft miles: 39120.0 mi
Total revenue aircraft miles: 34160.0
Ratio of revenue aircraft miles to aircraft miles: 0.8732106339468303
Fleet size: 39.0
Total number of pads: 50; [18 32]
Total number of flights: 988.0; demand: 854.0; repositioning: 134.0
Total energy consumption: 15937.0 kWh
Total aircraft miles: 49400.0 mi
Total revenue aircraft miles: 42700.0
Ratio of revenue aircraft miles to aircraft miles: 0.8643724696356275
Fleet size: 32.0
Total number of pads: 40; [13 27]
Total number of flights: 978.0; demand: 854.0; repositioning: 124.0
Total energy consumption: 13692.0 kWh
Total aircraft miles: 39120.0 mi
Total revenue aircraft miles: 34160.0
Ratio of revenue aircraft miles to aircraft miles: 0.8732106339468303
Fleet size: 32.0
Total number of pads: 37; [13 24]
Total number of flights: 1002.0; demand: 854.0; repositioning: 148.0
Total energy consumption: 13765.0 kWh
Total aircraft miles: 40080.0 mi
Total revenue aircraft miles: 34160.0
Ratio of revenue aircraft miles to aircraft miles: 0.8522954091816367
Fleet size: 39.0
Total number of pads: 49; [19 30]
Total number of flights: 1032.0; demand: 854.0; repositioning: 178.0
Total energy consumption: 16826.0 kWh
Total aircraft miles: 51600.0 mi
Total revenue aircraft miles: 42700.0
Ratio of revenue aircraft miles to aircraft miles: 0.8275193798449613
Fleet size: 32.0
Total number of pads: 38; [14 24]
Total number of flights: 1020.0; demand: 854.0; repositioning: 166.0
Total energy consumption: 13860.0 kWh
Total aircraft miles: 40800.0 mi
Total revenue aircraft miles: 34160.0
Ratio of revenue aircraft miles to aircraft miles: 0.8372549019607843
Fleet size: 20.0
Total number of pads: 28; [10 18]
Total number of flights: 998.0; demand: 854.0; repositioning: 144.0
Total energy consumption: 9481.0 kWh
Total aircraft miles: 19960.0 mi
Total revenue aircraft miles: 17080.0
Ratio of revenue aircraft miles to aircraft miles: 0.8557114228456913
Fleet size: 25.0
Total number of pads: 34; [12 22]
Total number of flights: 990.0; demand: 854.0; repositioning: 136.0
Total energy consumption: 11385.0 kWh
Total aircraft miles: 29700.0 mi
Total revenue aircraft miles: 25620.0
Ratio of revenue aircraft miles to aircraft miles: 0.8626262626262626
Fleet size: 20.0
Total number of pads: 28; [10 18]
Total number of flights: 994.0; demand: 854.0; repositioning: 140.0
Total energy consumption: 9164.0 kWh
Total aircraft miles: 19880.0 mi
Total revenue aircraft miles: 17080.0
Ratio of revenue aircraft miles to aircraft miles: 0.8591549295774648
Fleet size: 45.0
Total number of pads: 55; [21 34]
Total number of flights: 1074.0; demand: 854.0; repositioning: 220.0
Total energy consumption: 19422.0 kWh
Total aircraft miles: 64440.0 mi
Total revenue aircraft miles: 51240.0
Ratio of revenue aircraft miles to aircraft miles: 0.7951582867783985
Fleet size: 38.0
Total number of pads: 48; [14 34]
Total number of flights: 974.0; demand: 854.0; repositioning: 120.0
Total energy consumption: 15880.0 kWh
Total aircraft miles: 48700.0 mi
Total revenue aircraft miles: 42700.0
Ratio of revenue aircraft miles to aircraft miles: 0.8767967145790554
Fleet size: 25.0
Total number of pads: 34; [12 22]
Total number of flights: 978.0; demand: 854.0; repositioning: 124.0
Total energy consumption: 11400.0 kWh
Total aircraft miles: 29340.0 mi
Total revenue aircraft miles: 25620.0
Ratio of revenue aircraft miles to aircraft miles: 0.8732106339468303
Fleet size: 32.0
Total number of pads: 38; [12 26]
Total number of flights: 1010.0; demand: 854.0; repositioning: 156.0
Total energy consumption: 14140.0 kWh
Total aircraft miles: 40400.0 mi
Total revenue aircraft miles: 34160.0
Ratio of revenue aircraft miles to aircraft miles: 0.8455445544554455
Fleet size: 20.0
Total number of pads: 28; [10 18]
Total number of flights: 998.0; demand: 854.0; repositioning: 144.0
Total energy consumption: 9481.0 kWh
Total aircraft miles: 19960.0 mi
Total revenue aircraft miles: 17080.0
Ratio of revenue aircraft miles to aircraft miles: 0.8557114228456913
Fleet size: 22.0
Total number of pads: 29; [10 19]
Total number of flights: 990.0; demand: 854.0; repositioning: 136.0
Total energy consumption: 8910.0 kWh
Total aircraft miles: 19800.0 mi
Total revenue aircraft miles: 17080.0
Ratio of revenue aircraft miles to aircraft miles: 0.8626262626262626
Fleet size: 45.0
Total number of pads: 51; [19 32]
Total number of flights: 1046.0; demand: 854.0; repositioning: 192.0
Total energy consumption: 18954.0 kWh
Total aircraft miles: 62760.0 mi
Total revenue aircraft miles: 51240.0
Ratio of revenue aircraft miles to aircraft miles: 0.8164435946462715
Fleet size: 20.0
Total number of pads: 29; [11 18]
Total number of flights: 992.0; demand: 854.0; repositioning: 138.0
Total energy consumption: 8946.0 kWh
Total aircraft miles: 19840.0 mi
Total revenue aircraft miles: 17080.0
Ratio of revenue aircraft miles to aircraft miles: 0.8608870967741935
Fleet size: 32.0
Total number of pads: 42; [14 28]
Total number of flights: 980.0; demand: 854.0; repositioning: 126.0
Total energy consumption: 13589.0 kWh
Total aircraft miles: 39200.0 mi
Total revenue aircraft miles: 34160.0
Ratio of revenue aircraft miles to aircraft miles: 0.8714285714285714
Fleet size: 43.0
Total number of pads: 50; [20 30]
Total number of flights: 1050.0; demand: 854.0; repositioning: 196.0
Total energy consumption: 18941.0 kWh
Total aircraft miles: 63000.0 mi
Total revenue aircraft miles: 51240.0
Ratio of revenue aircraft miles to aircraft miles: 0.8133333333333334
Fleet size: 32.0
Total number of pads: 41; [13 28]
Total number of flights: 980.0; demand: 854.0; repositioning: 126.0
Total energy consumption: 13633.0 kWh
Total aircraft miles: 39200.0 mi
Total revenue aircraft miles: 34160.0
Ratio of revenue aircraft miles to aircraft miles: 0.8714285714285714
Fleet size: 40.0
Total number of pads: 49; [17 32]
Total number of flights: 1024.0; demand: 854.0; repositioning: 170.0
Total energy consumption: 16384.0 kWh
Total aircraft miles: 51200.0 mi
Total revenue aircraft miles: 42700.0
Ratio of revenue aircraft miles to aircraft miles: 0.833984375
Fleet size: 25.0
Total number of pads: 32; [11 21]
Total number of flights: 1024.0; demand: 854.0; repositioning: 170.0
Total energy consumption: 12088.0 kWh
Total aircraft miles: 30720.0 mi
Total revenue aircraft miles: 25620.0
Ratio of revenue aircraft miles to aircraft miles: 0.833984375
Fleet size: 25.0
Total number of pads: 34; [12 22]
Total number of flights: 990.0; demand: 854.0; repositioning: 136.0
Total energy consumption: 11385.0 kWh
Total aircraft miles: 29700.0 mi
Total revenue aircraft miles: 25620.0
Ratio of revenue aircraft miles to aircraft miles: 0.8626262626262626
Fleet size: 25.0
Total number of pads: 34; [12 22]
Total number of flights: 990.0; demand: 854.0; repositioning: 136.0
Total energy consumption: 11385.0 kWh
Total aircraft miles: 29700.0 mi
Total revenue aircraft miles: 25620.0
Ratio of revenue aircraft miles to aircraft miles: 0.8626262626262626
Fleet size: 46.0
Total number of pads: 53; [19 34]
Total number of flights: 966.0; demand: 854.0; repositioning: 112.0
Total energy consumption: 17707.0 kWh
Total aircraft miles: 57960.0 mi
Total revenue aircraft miles: 51240.0
Ratio of revenue aircraft miles to aircraft miles: 0.8840579710144928
Fleet size: 38.0
Total number of pads: 47; [15 32]
Total number of flights: 1022.0; demand: 854.0; repositioning: 168.0
Total energy consumption: 16512.0 kWh
Total aircraft miles: 51100.0 mi
Total revenue aircraft miles: 42700.0
Ratio of revenue aircraft miles to aircraft miles: 0.8356164383561644
Fleet size: 22.0
Total number of pads: 30; [11 19]
Total number of flights: 984.0; demand: 854.0; repositioning: 130.0
Total energy consumption: 8856.0 kWh
Total aircraft miles: 19680.0 mi
Total revenue aircraft miles: 17080.0
Ratio of revenue aircraft miles to aircraft miles: 0.8678861788617886
Fleet size: 37.0
Total number of pads: 51; [18 33]
Total number of flights: 970.0; demand: 854.0; repositioning: 116.0
Total energy consumption: 15718.0 kWh
Total aircraft miles: 48500.0 mi
Total revenue aircraft miles: 42700.0
Ratio of revenue aircraft miles to aircraft miles: 0.8804123711340206
Fleet size: 21.999999997795605
Total number of pads: 31; [13 18]
Total number of flights: 985.9999952485207; demand: 854.0; repositioning: 131.9999952485207
Total energy consumption: 8873.999957236689 kWh
Total aircraft miles: 19719.999904970413 mi
Total revenue aircraft miles: 17080.0
Ratio of revenue aircraft miles to aircraft miles: 0.8661257648228993
Fleet size: 25.0
Total number of pads: 36; [15 21]
Total number of flights: 992.0; demand: 854.0; repositioning: 138.0
Total energy consumption: 11706.0 kWh
Total aircraft miles: 29760.0 mi
Total revenue aircraft miles: 25620.0
Ratio of revenue aircraft miles to aircraft miles: 0.8608870967741935
Fleet size: 43.0
Total number of pads: 51; [21 30]
Total number of flights: 1028.0; demand: 854.0; repositioning: 174.0
Total energy consumption: 18635.0 kWh
Total aircraft miles: 61680.0 mi
Total revenue aircraft miles: 51240.0
Ratio of revenue aircraft miles to aircraft miles: 0.830739299610895
Fleet size: 42.0
Total number of pads: 48; [18 30]
Total number of flights: 1002.0; demand: 854.0; repositioning: 148.0
Total energy consumption: 18036.0 kWh
Total aircraft miles: 60120.0 mi
Total revenue aircraft miles: 51240.0
Ratio of revenue aircraft miles to aircraft miles: 0.8522954091816367
Fleet size: 32.0
Total number of pads: 38; [12 26]
Total number of flights: 1010.0; demand: 854.0; repositioning: 156.0
Total energy consumption: 14140.0 kWh
Total aircraft miles: 40400.0 mi
Total revenue aircraft miles: 34160.0
Ratio of revenue aircraft miles to aircraft miles: 0.8455445544554455
Fleet size: 25.0
Total number of pads: 33; [12 21]
Total number of flights: 970.0; demand: 854.0; repositioning: 116.0
Total energy consumption: 11295.0 kWh
Total aircraft miles: 29100.0 mi
Total revenue aircraft miles: 25620.0
Ratio of revenue aircraft miles to aircraft miles: 0.8804123711340206
Fleet size: 25.0
Total number of pads: 33; [11 22]
Total number of flights: 976.0; demand: 854.0; repositioning: 122.0
Total energy consumption: 11289.0 kWh
Total aircraft miles: 29280.0 mi
Total revenue aircraft miles: 25620.0
Ratio of revenue aircraft miles to aircraft miles: 0.875
Fleet size: 39.0
Total number of pads: 44; [16 28]
Total number of flights: 1076.0; demand: 854.0; repositioning: 222.0
Total energy consumption: 17389.0 kWh
Total aircraft miles: 53800.0 mi
Total revenue aircraft miles: 42700.0
Ratio of revenue aircraft miles to aircraft miles: 0.7936802973977695
Fleet size: 48.0
Total number of pads: 54; [20 34]
Total number of flights: 1088.0; demand: 854.0; repositioning: 234.0
Total energy consumption: 20128.0 kWh
Total aircraft miles: 65280.0 mi
Total revenue aircraft miles: 51240.0
Ratio of revenue aircraft miles to aircraft miles: 0.7849264705882353
Fleet size: 43.0
Total number of pads: 50; [20 30]
Total number of flights: 1034.0; demand: 854.0; repositioning: 180.0
Total energy consumption: 18786.0 kWh
Total aircraft miles: 62040.0 mi
Total revenue aircraft miles: 51240.0
Ratio of revenue aircraft miles to aircraft miles: 0.8259187620889749

In [27]:

conn = sqlite3.connect('wind_variation_result.sqlite')
query = """
SELECT *
FROM op_summary_statistics
"""
df = pd.read_sql_query(query, conn)

In [29]:
df.sort_values('id')

,fleet_size,pads_at_SFO,pads_at_SJC,number_of_repositioning_flights,id
16,22.0,10.0,19.0,136.000000,dist_20_per_500
28,22.0,11.0,19.0,130.000000,dist_20_per_600
30,22.0,13.0,18.0,131.999995,dist_20_per_700
1,21.0,12.0,19.0,116.000000,dist_20_per_800
18,20.0,11.0,18.0,138.000000,dist_20_per_900
10,20.0,10.0,18.0,140.000000,dist_20_per_950
8,20.0,10.0,18.0,144.000000,dist_20_per_990
15,20.0,10.0,18.0,144.000000,dist_20_per_995
23,25.0,11.0,21.0,170.000000,dist_30_per_500
31,25.0,15.0,21.0,138.000000,dist_30_per_600
35,25.0,12.0,21.0,116.000000,dist_30_per_700
24,25.0,12.0,22.0,136.000000,dist_30_per_800
25,25.0,12.0,22.0,136.000000,dist_30_per_900
9,25.0,12.0,22.0,136.000000,dist_30_per_950
36,25.0,11.0,22.0,122.000000,dist_30_per_990
13,25.0,12.0,22.0,124.000000,dist_30_per_995
2,32.0,13.0,27.0,124.000000,dist_40_per_500
4,32.0,13.0,27.0,124.000000,dist_40_per_600
21,32.0,13.0,28.0,126.000000,dist_40_per_700
19,32.0,14.0,28.0,126.000000,dist_40_per_800
7,32.0,14.0,24.0,166.000000,dist_40_per_900
5,32.0,13.0,24.0,148.000000,dist_40_per_950
14,32.0,12.0,26.0,156.000000,dist_40_per_990
34,32.0,12.0,26.0,156.000000,dist_40_per_995
22,40.0,17.0,32.0,170.000000,dist_50_per_500
0,39.0,18.0,31.0,140.000000,dist_50_per_600
3,39.0,18.0,32.0,134.000000,dist_50_per_700
29,37.0,18.0,33.0,116.000000,dist_50_per_800
6,39.0,19.0,30.0,178.000000,dist_50_per_900
37,39.0,16.0,28.0,222.000000,dist_50_per_950
27,38.0,15.0,32.0,168.000000,dist_50_per_990
12,38.0,14.0,34.0,120.000000,dist_50_per_995
33,42.0,18.0,30.0,148.000000,dist_60_per_500
20,43.0,20.0,30.0,196.000000,dist_60_per_600
39,43.0,20.0,30.0,180.000000,dist_60_per_700
32,43.0,21.0,30.0,174.000000,dist_60_per_800
17,45.0,19.0,32.0,192.000000,dist_60_per_900
11,45.0,21.0,34.0,220.000000,dist_60_per_950
26,46.0,19.0,34.0,112.000000,dist_60_per_990
38,48.0,20.0,34.0,234.000000,dist_60_per_995