In [1]:
import importlib
import UAM_Schedule
importlib.reload(UAM_Schedule)
from UAM_Schedule import UAM_Schedule
from op import number_aircrafts_lp_v2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
schedule = UAM_Schedule('LAX_ind.csv', 'T_F41SCHEDULE_B43.csv')

In [3]:
schedule, pax_arrival = schedule.get_one_day(2, 1, auto_regressive_alpha=.3)

In [7]:
schedule

        schedule        od
0       4.298501  LAX_DTLA
1       6.700762  LAX_DTLA
2      11.981723  LAX_DTLA
3      20.307197  LAX_DTLA
4      25.393155  LAX_DTLA
..           ...       ...
786  1408.995716  DTLA_LAX
787  1416.439461  DTLA_LAX
788  1424.785318  DTLA_LAX
789  1432.362080  DTLA_LAX
790  1440.000000  DTLA_LAX

[791 rows x 2 columns]