In [9]:
import importlib
import UAM_Schedule
importlib.reload(UAM_Schedule)
import spill_op
importlib.reload(spill_op)
from UAM_Schedule import UAM_Schedule
from op import number_aircrafts_lp_v2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from spill_op import spill_op

In [5]:
flight_schedule = pd.read_csv('../output/demand_variation/schedule/alpha_7/10_10.csv')
occupancy = pd.read_csv('../output/demand_variation/schedule/alpha_7/num_pax_10_10.csv')

In [10]:
spill_op(flight_schedule, occupancy, schedule_time_step=288, fleet_size=13, output_path='')

Set parameter MIPFocus to value 3

Set parameter Threads to value 10
Set parameter MIPGap to value 0.05
optimality gap: 0.05
Gurobi Optimizer version 10.0.3 build v10.0.3rc0 (linux64)

CPU model: Intel(R) Xeon(R) Gold 6326 CPU @ 2.90GHz, instruction set [SSE2|AVX|AVX2|AVX512]
Thread count: 32 physical cores, 64 logical processors, using up to 10 threads

GurobiError: Model too large for size-limited license; visit https://www.gurobi.com/free-trial for a full license

In [7]:
schedule

        schedule        od
0       4.298501  LAX_DTLA
1       6.700762  LAX_DTLA
2      11.981723  LAX_DTLA
3      20.307197  LAX_DTLA
4      25.393155  LAX_DTLA
..           ...       ...
786  1408.995716  DTLA_LAX
787  1416.439461  DTLA_LAX
788  1424.785318  DTLA_LAX
789  1432.362080  DTLA_LAX
790  1440.000000  DTLA_LAX

[791 rows x 2 columns]